### Dependency ###
node_modules

### Git ###
.git
.gitignore

### Prettier ###
.prettierignore
.prettierrc.json

### Documentation ###
README.md

### GitHub workflows ###
.github

### docker-compose ###
docker-compose.yml
docker-compose.yaml
